<footer class="bg-verde-fondo text-blanco-texto">
  <div class="flex flex-col md:flex-row ">

        <div class="w-full md:w-1/3 flex justify-center md:justify-start">
          <img
            src="./assets/images/logo_bl.jpg"
            class="w-[20%] md:w-[25%] "
            alt="Logo de las jorandas"
          />
        </div>
        <div class="w-full md:w-1/3 flex justify-center my-auto">
          <ul class="flex flex-row space-x-4 md:space-x-16 ">
            <li >
              <a class="text-2xl md:text-4xl font-medium" href="index.html">Portada</a>
            </li>
            <li class="text-2xl md:text-4xl font-medium">
              <a class="" href="ponentes.html">Ponentes</a>
            </li>
          </ul>
        </div>
      <div class="w-full md:w-1/3 flex justify-center my-auto">
        <ul class="flex flex-row space-x-2 my-4">
          <li class="">
            <a href=""
              ><img src="./assets/images/instagram.svg" alt="instagram" class="w-8 md:w-12"
            /></a>
          </li>
          <li>
            <a href=""
              ><img src="./assets/images/twitter.svg" alt="twitter" class="w-8 md:w-12"
            /></a>
          </li>
          <li>
            <a href=""
              ><img src="./assets/images/youtube.svg" alt="youtube" class="w-8 md:w-12"
            /></a>
          </li>
        </ul>
      </div>

  </div>
</footer>
