<header class="bg-verde-fondo text-blanco-texto">
  <!-- Navbar -->

   <nav-bar class="" >
    <nav class="flex items-center justify-between px-6 py-4 flex-wrap">
      <div class="flex items-center">
        <!-- Logo a la izquierda -->
        <a>
          <img
          src="./assets/images/logo_bl.jpg"
          class="w-[40%] md:w-[35%]"
          alt="logo de las jornadas"
          />
        </a>
      </div>
     
      <!-- Enlaces de navegación -->
      <div class="header__menu ml-auto mt-4 md:mt-0 md:w-auto md:flex md:items-center text-sm md:text-4xlfont-semibold">
        <ul class="flex flex-col md:flex-row md:space-x-8">
          <li class="px-4 ">
            <a class="block py-2 hover:text-blue-600 text-3xl md:text-5xl font-medium" href="index.html">Portada</a>
          </li>
          <li class="px-4">
            <a class="block py-2 hover:text-blue-600 text-3xl md:text-5xl font-medium" href="ponentes.html">Ponentes</a>
          </li>
          <!--
          <li class="nav-item px-4">
            <a class="nav-link fs-6 fs-md-1 fw-bold" href="articulo.html">Artículo</a>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link fs-6 fs-md-1 fw-bold " href="inscripcion.html">
              Inscripcion</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  </nav-bar>
</header>

