<header class="bg-verde-fondo text-blanco-texto">
  <!-- Nav-->

    <nav class="flex flex-col md:flex-row">
      <div class="w-full md:w-1/3 flex justify-start ">
        <!-- Logo a la izquierda -->
        <a>
          <img
          src="./assets/images/logo_bl.jpg"
          class="w-[30%] md:w-[40%]"
          alt="logo de las jornadas"
          />
        </a>
      </div>
     
      <!-- Enlaces de navegación -->
      <div class="w-full md:w-2/3 flex justify-end md:my-auto">
        <ul class="flex flex-col md:flex-row md:space-x-8">
          <li class="px-4 ">
            <a class="block py-2 hover:text-blue-600 text-3xl md:text-5xl font-medium" href="index.html">Portada</a>
          </li>
          <li class="px-4">
            <a class="block py-2 hover:text-blue-600 text-3xl md:text-5xl font-medium" href="ponentes.html">Ponentes</a>
          </li>
          <!--
          <li class="nav-item px-4">
            <a class="nav-link fs-6 fs-md-1 fw-bold" href="articulo.html">Artículo</a>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link fs-6 fs-md-1 fw-bold " href="inscripcion.html">
              Inscripcion</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

</header>

