 <div class="border-8 border-verde-texto w-[90%] lg:w-[40%] 3xl:w-[25%] p-4 shadow rounded-3xl text-center mx-auto">
    <img
      src={{imagen}}
      class="mx-auto block w-[40%] lg:w-[35%] rounded-full sm:shrink-0 my-8"
      alt={{nombre}}/>
    <div class="w-[80%] lg:w-[80%] mx-auto md:text-3xl  px-2 ">
      <h2 class="text-2xl mx-auto text-center md:text-3xl font-bold mb-4  md:my-8">{{nombre}}</h2>
      <p class="md:text-2xl leading-relaxed">{{cargo}}</p>
      <p class="md:text-2xl my-4  md:my-8 font-bold">PONENCIA:</p>
      <p class="md:text-2xl md:my-8 ">{{ponencia}}</p>
      <p class="my-4 md:text-2xl">{{fecha}}</p>
      <p class="md:text-2xl">{{sala}}</p>
    </div>
  </div>